.navbar{
    background-color: #FC0 ;
}

.form-control.ng-invalid.ng-dirty{
    border: 1px solid red;
}

.form-control.ng-valid.ng-dirty {
    border: 1px solid green;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.navbar-brand {
    width: 280px;
    height: 64px;
    padding: 0px;
    margin: 0px;
}

.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 20px 10px 11px;
    text-decoration: none;

    color: #000000;
}

.scrollbar-dynamic {
    max-height: 800px;
    overflow: auto;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

input[step="0"]::-webkit-inner-spin-button { -webkit-appearance: none;}

html,
body {
    height: 100%;

}


#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/*FOOTER*/
html,
body {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    padding-left: 30px;
    min-height: 100%;
    height: auto;
    padding-top: 80px;
    /* Negative indent footer by its height */
    margin: 0 auto -40px;

}

.footer {
    height: 30px;
    background-color: #f5f5f5;

}

.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom,
.modal-open .container{
    padding-right: 20px;
}

.btn-yellow{
    background-color: #fc0;
    border-color: #fc0;
    color: #333;
}
.glyphicon-user .btn .btn-default{
    font-family: Arial;
}

